<!-- @format -->
<%- include ('./header'); -%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>5.3D: Website Project of Pavandeep Kaur</title>
  </head>

  <body style="background-color:WHITE">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="../images/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
        DP Transport
      </a>
      <b>
        <a href="/dashboard"> Home </a> &nbsp; &nbsp;
        <a href="/dashboard/service"> Services </a> &nbsp; &nbsp;
        <a href="/dashboard/carrier"> Career </a> &nbsp; &nbsp;
        <a href="/dashboard/news"> Trucking Industry News </a> &nbsp; &nbsp;
        <a href="/dashboard/contact"> Contact US </a> &nbsp; &nbsp;
        <a href="/dashboard/about"> About US </a>
      </b>
    </nav>
    <main>

      <div class="container-fluid">
      <h2 >Services</h2>
      <section>
        <p>
          We provide the following serviecs, if you cant find what you are
          looking for or not sure than just contact us for custom plan
        </p>
      </section>

      <section>
        <div class="row">
          <div class="col-4">
            <img src="../images/truck1.jpeg" class="img-fluid"  alt="Nanda Devi" />
          </div>

          <div class="col-8" width="float-right">
            <div class="jumbotron">
              <p class="lead">
                <strong>REPAIR SERVICE</strong> We are more than truck repair. More than engine and transmission repairs. We're a complete service provider built to help you keep your vehicles and equipment performing at their optimal levels.
              </p>
            </div>
          </div>

          <div class="col-8" width="float-left">
            <div class="jumbotron">
              <p class="lead">
                <strong>TRUCKING SERVICE</strong> We know how critical uptime is to your success. When a light comes on or an engine goes down, our service team quickly responds to resolve the issue and get you back on the road as quickly as possible.
              </p>
            </div>
            </div>

          <div class="col-4">
            <img src="../images/truck2.jpeg" class="img-fluid" alt="Nanda Devi" />
          </div>
        </div>
    </section>
      
    <div class="row">
      <div class="col-4">
        <img src="../images/truck3.jpeg" class="img-fluid" alt="Nanda Devi" />
      </div>

      <div class="col-8" width="float-right">
        <div class="jumbotron">
          <p class="lead">
            <strong>INTERMODAL & RAIL REFRIGERATION</strong> If it's on wheels, its in our wheelhouse. Our technicians and mobile response unit repair damaged or malfunctioning refrigeration equipment on intermodal and rail applications.
          </p>
        </div>
      </div>

      <div class="col-8" width="float-left">
        <div class="jumbotron">
          <p class="lead">
            <strong>SCHEDULED FLEET MAINTENANCE</strong> Coordinate with fleet managers to track vehicle mileage and service history, schedule preventative care, and generate performance reports that to drive your vehicle management decisions.
          </p>
        </div>
      </div>

      <div class="col-4">
        <img src="../images/truck1.jpeg" class="img-fluid" alt="Nanda Devi" />
      </div>
    </div>
</div>

  </section>
</div>

      <footer>
        <small><i> Copyright &copy;DP Transport Limited. </i></small>
      </footer>

    
    </main>
  </body>
</html>
